<!DOCTYPE html>
<html lang="{{ 'fr' if not session['lang'] else session['lang'] }}">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Battle patata - Web</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <nav class="navbar">
        <ul id="navbar-items">
            <li class="navbar-item">
                <a href="{{url_for('home')}}" >RPG BATTLE PATATA - Web</a>
            </li>
            {% block navbar_addition %}{% endblock %}
            <li class="navbar-item">
                <a href="{{ url_for('about') }}">{{ session['dico']["base.about"] }}</a> |
                {% if session['lang'] %}
                <a href="{{ url_for('logout') }}">{{ session['dico']["base.close"] }}</a> |
                {% endif %}
                <a href="{{ url_for('lang_selection', lang='french', next=request.path) }}"><img src="{{ url_for('static', filename='img/flag_france.png') }}" width="35"></a>
                <a href="{{ url_for('lang_selection', lang='english', next=request.path) }}"><img src="{{ url_for('static', filename='img/flag_england.png') }}" width="35"></a>
                <a href="{{ url_for('lang_selection', lang='spanish', next=request.path) }}"><img src="{{ url_for('static', filename='img/flag_spain.png') }}" width="35"></a>
        </ul>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
<footer class="footbar">
    <p>Version 0.2.1</p>
    <p><a href="https://github.com/LittlePinkSloth/RPG_battle_patata" target="_blank">GitHub</a></p>
</footer>
</body>
</html>
